# **Comandos de saída**

In [1]:
print("Alo mundo!\n Nossa primeira aula em Python")

Alo mundo!
 Nossa primeira aula em Python

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
print('O Brasil', 'ganhou', 5, 'títulos mundiais', sep='-', end='!')
print('Teste de quebra de linha')

O Brasil-ganhou-5-títulos mundiais!Teste de quebra de linha

# **Variáveis**

In [4]:
nome = 'Toni Luiz'
idade = 18
print(nome, 'tem', idade, 'anos')

print(type(idade))
print(type(nome))

idade = 17.5
print(type(idade))

Toni Luiz tem 18 anos
<class 'int'>
<class 'str'>
<class 'float'>

# Tipos de Dados
                             - Inteiros: números sem casa decimal: 10, 5, -4
                           /
             - Numéricos - - Reais: números com casa decima: 3.14, 75.18, 0.0
           /               \
          /                  - Complex: parte real e parte imaginária (j)
- Dados - 
          \                      - Lógicos: True ou False
           \                   /
             - Não numéricos - 
                               \
                                 - Texto (cadeia de caracteres): "Python", "José Maria da Silva", "34567-890"
                                 
O Python possui tipos primitivos para cada um desses tipos de dados. São eles o int, float, bool e o str.

A tipagem do Python é dinâmica!

# **Tipos de dados numéricos** (int, float, complex)

In [7]:
x = 35e3 #float
y = 12E4
z = -87.7e-2
k = 2.5e100
print(x)
print(y)
print(z)
print(k)
a = 2
print(a, type(a))
x = 3.5-5j #3.5 -5i
print(x, type(x))

35000.0
120000.0
-0.877
2.5e+100
2 <class 'int'>
(3.5-5j) <class 'complex'>

# **Casting**

In [8]:
print(idade)
print(type(idade))
print(int(idade))
print(type(idade))
idade = int(idade)
print(type(idade))
num=2
print(num, type(num))
num=float(num)
print(num, type(num))

a = 2.5
print(a, type(a))
b = complex(a)
print(b, type(b))
c = str(a)
print(c, type(c))
s = '3'
print(s, type(s))
x = int(s)
print(x, type(x))

17.5
<class 'float'>
17
<class 'float'>
<class 'int'>
2 <class 'int'>
2.0 <class 'float'>
2.5 <class 'float'>
(2.5+0j) <class 'complex'>
2.5 <class 'str'>
3 <class 'str'>
3 <class 'int'>

# **Strings**

In [9]:
str = 'Strings são arrays'
print(str)

Strings são arrays

In [10]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [11]:
print(str[0], str[1], str[4])

S t n

In [12]:
print(str[2:6])

ring

In [15]:
print(str.lower())
print(str.upper())
print(str.capitalize())
print(str.title())

strings são arrays
STRINGS SÃO ARRAYS
Strings são arrays
Strings São Arrays

In [16]:
str = '  Hello, World! '
print(str)
print(str.strip())

  Hello, World!
Hello, World!

In [17]:
idade = 18
nome = 'Toni Luiz'
print(nome, 'tem', idade, 'anos!')
print('{} tem {} anos!'.format(nome, idade))
frase = '{} tem {} anos!'
print(frase.format(nome, idade))

Toni Luiz tem 18 anos!
Toni Luiz tem 18 anos!
Toni Luiz tem 18 anos!

In [18]:
print(f'{nome} tem {idade} anos!')

Toni Luiz tem 18 anos!

# Entrada de Dados
A partir do Python 3.6 temos o comando input

Em versões anteriores, tínhamos o comando raw_input

In [19]:
nome = input('Entre com o seu nome: ')
print('Olá {}, seja bem vindo!'.format(nome))

Entre com o seu nome: Rosana
Olá Rosana, seja bem vindo!

In [22]:
peso = float(input('Qual o seu peso? '))
altura = float(input('Qual sua altura? '))
imc = peso/(altura*altura)
print('Seu IMC é {}'.format(imc))

Qual o seu peso? 57
Qual sua altura? 1.71
Seu IMC é 19.493177387914233

# OPERADORES

# Operadores aritméticos

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
|     +    | Adição        | a = 3 + 2                  |
|     -    | Subtração     | b = 7 - a                  |
|     *    | Multiplicação | c = a * b                  |
|     /    | Divisão       | d = 10/3                   |
|    //    | Quociente     | e = 10//3                  |
|     %    | Resto         | f = 10%3                   |
|    **    | Exponenciação | g = 2 ** 3                 |
|    **    | Radiciação    | h = 16 ** (1/2)            |

In [23]:
x = 5
y = 2

a = x + y
b = x - y
c = x * y
d = x / y
e = x // y
f = x % y
g = x ** y
h = g ** 0.5

print('a = {}\nb = {}\nc = {}\nd = {}\ne = {}\nf = {}\ng = {}\nh = {}'.format(a,b,c,d,e,f,g,h))

a = 7
b = 3
c = 10
d = 2.5
e = 2
f = 1
g = 25
h = 5.0

# Booleanos, Operadores relacionais

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| == | Igualdade | a == b |
| != | DesiIgualdade | a != b |
| > | Maior que | a > b |
| < | Menor que | a < b |
| >= | Maior ou igual | a >= b |
| <= | Menor ou igual | a <= b |

In [ ]:
a = x > y
b = x < y
c = x == y
d = x != y
print('a = {}\nb = {}\nc = {}\nd = {}'.format(a,b,c,d))

# Operadores lógicos (conectivos lógicos)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| and | **E** lógico | a == b and b == c |
| or | **OU** lógico | a == b or b == c |
| ^ | **OU** exclusivo (XOR) | a == b ^ b == c |
| not | Negação (inverte o resultado lógico) | not(a == b and b == c) |

### Tabela verdade (AND)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | False |
| False | True  | False |
| False | False | False |

| a | b | c | a and b and c |
|:--:|:--:|:--:|:--:|
| True  | True  | True  | **True** |
| True  | True  | False | False |
| True  | False | True  | False |
| True  | False | False | False |
| False | True  | True  | False |
| False | True  | False | False |
| False | False | True  | False |
| False | False | False | False |

### Tabela verdade (OR)

| a | b | a and b |
|:--:|:--:|:--:|
| True  | True  | **True** |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (XOR)

| a | b | a ^ b |
|:--:|:--:|:--:|
| True  | True  | False |
| True  | False | **True** |
| False | True  | **True** |
| False | False | False |

### Tabela verdade (NOT)
| a | not(a) |
|:--:|:--:|
| True  | False |
| False | **True** |

In [24]:
# TABELA DO AND (com 2 booleanos)
print(" x     | y     | x and y ")
print("-------------------------")
print(" True  | True  |", True and True )
print(" True  | False |", True and False )
print(" False | True  |", False and True)
print(" False | False |", False and False)

 x     | y     | x and y
-------------------------
 True  | True  | True
 True  | False | False
 False | True  | False
 False | False | False

In [25]:
# TABELA DO AND (com 3 booleanos)
print(" x     | y     | z     |  x and y and z ")
print("----------------------------------------")
print(" True  | True  | True  |",True and True and True)
print(" True  | True  | False |",True and True and False)
print(" True  | False | True  |",True and False and True)
print(" True  | False | False |",True and False and False)
print(" False | True  | True  |",False and True and True)
print(" False | True  | False |",False and True and False)
print(" False | False | True  |",False and False and True)
print(" False | False | False |",False and False and False)

 x     | y     | z     |  x and y and z
----------------------------------------
 True  | True  | True  | True
 True  | True  | False | False
 True  | False | True  | False
 True  | False | False | False
 False | True  | True  | False
 False | True  | False | False
 False | False | True  | False
 False | False | False | False

In [26]:
# TABELA DO OR
print(" x     | y     | x or y ")
print("-------------------------")
print(" True  | True  |",True or True )
print(" True  | False |",True or False )
print(" False | True  |",False or True)
print(" False | False |",False or False)

 x     | y     | x or y
-------------------------
 True  | True  | True
 True  | False | True
 False | True  | True
 False | False | False

In [27]:
# TABELA DO XOR (EXCLUSIVE OR)
print(" x     | y     | x ^ y ")
print("-------------------------")
print(" True  | True  |",True ^ True )
print(" True  | False |",True ^ False )
print(" False | True  |",False ^ True)
print(" False | False |",False ^ False)

 x     | y     | x ^ y
-------------------------
 True  | True  | False
 True  | False | True
 False | True  | True
 False | False | False

In [28]:
# TABELA DO NOT
print(" x     | not(x) ")
print("----------------")
print(" True  |",not(True))
print(" False |",not(False))

 x     | not(x)
----------------
 True  | False
 False | True

In [29]:
# and, or, not,  ^
x = 5

a = x > 3
b = x > 10
r = a ^ b
print("a = {}".format(a))
print("b = {}".format(b))
print("r = {}".format(r))

print(not(r))

a = True
b = False
r = True
False

# Operadores de identidade

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| is | Verifica se duas referências apontam para o mesmo objeto | a is b |
| is not | Verifica se duas referências apontam para diferentes objetos | a is not b |

In [30]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True

# Condicionais - if

In [31]:
a = 33
b = 200
c = 250
if b > a: 
    print("b é maior que a") #observe a identação da linha

if (b > a and b < c):
    print('{} está entre {} e {}'.format(b,a,c))

b é maior que a
200 está entre 33 e 250

# Condicionais - elif

In [32]:
a = 33
b = 33
if (b > a):
    print("b é maior que a")
elif (a == b):
    print("a e b são iguais")

a e b são iguais

# Condicionais - else

In [33]:
a = 200
b = 33
if (b > a):
    print("b é maior que a")
elif (a == b):
    print("a e b são iguais")
else:
    print("a é maior que b")

a é maior que b

In [34]:
x = 9

if (x > 10):
    print("Acima de 10,")
    if (x > 20):
        print("e também acima de 20!")
    else:
        print("mas não acima de 20.")
else:
    print("Abaixo de 10.")

Abaixo de 10.

# LOOPS

# Repetição com while

In [35]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

# interrompendo o loop com a declaração 'break'

In [36]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

# Declaração 'continue'

In [37]:
i = 0
while (i < 6):
    i += 1
    if (i == 3):
        continue
    print(i)

1
2
4
5
6

# Declaração else (no loop!)

In [38]:
i = 1
while (i < 6):
    print(i)
    i += 1
else:
    print("i não é mais menor que 6")

1
2
3
4
5
i não é mais menor que 6

# For loop
O comando for, em Python, é usado para iterar sobre uma sequência (lista, tupla, conjunto, dicionário ou string)
Funciona mais como um método iterador; não sendo, portanto, tão parecido com o comando for de outras linguagens de programação

In [39]:
# breve introdução a listas em Python
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [41]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [42]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [43]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [44]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [45]:
for x in range(6):
    print(x)
else:
    print("Terminou!")

0
1
2
3
4
5
Terminou!

In [46]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [47]:
i = 0
while(i<10):
  print(i)
  i+=0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

# Listas

* Lista é uma coleção de elementos 
* Cada elemento possui uma posição dentro de uma lista. Essa posição é chamada índice
* O primeiro elemento fica armazenado na posição *0*, enquanto o último elemento fica armazenado na posição *n-1* (onde *n* é a quantidade de elementos da lista)

O que veremos nessa aula:

1. Como criar uma lista
2. Como acessar elementos de uma lista
3. Como modificar elementos de uma lista
4. Principais métodos de um objeto lista
5. Funções aplicáveis a uma lista

### 1. Como criar uma lista

In [2]:
# Criando uma lista vazia
lista_vazia = []
lista_vazia2 = list()

In [3]:
# Visualizando o tipo
type(lista_vazia)

list

In [4]:
# Visualizando o tipo
type(lista_vazia2)

list

In [5]:
# Verificando o tamanho da lista
len(lista_vazia)

0

In [6]:
# Criando listas com elementos
lista = [23, 56, 39, -3, 10, 2, 18, 0, 5]
lista_reais = [1.5, -2.13, 5.14]
lista_strings = ["Toni", "Python", "CEFET MG", "Engenharia Elétrica"]
lista_booleanos = [True, True, False, True]
lista_misturada = [1, 2, 3.14159, "teste"]
lista_misturada2 = [1, 2, 3.14159, "bláblá", [1, "A", 1.0]]
listas_aninhadas = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
# Visualizando a lista
lista

[23, 56, 39, -3, 10, 2, 18, 0, 5]

In [8]:
lista_reais

[1.5, -2.13, 5.14]

In [9]:
lista_strings

['Toni', 'Python', 'CEFET MG', 'Engenharia Elétrica']

In [10]:
lista_booleanos

[True, True, False, True]

In [11]:
lista_misturada

[1, 2, 3.14159, 'teste']

In [12]:
lista_misturada2

[1, 2, 3.14159, 'bláblá', [1, 'A', 1.0]]

In [13]:
listas_aninhadas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 2. Como acessar elementos de uma lista

In [14]:
# Acessando o índice 0 (primeira posição)
lista[0]

23

In [15]:
lista

[23, 56, 39, -3, 10, 2, 18, 0, 5]

In [16]:
# Acessando o índice 2 (terceira posição)
lista[2]

39

In [17]:
# Acessando o índice 3 (quarta posição)
print(lista_strings[3])

Engenharia Elétrica

In [18]:
lista_strings

['Toni', 'Python', 'CEFET MG', 'Engenharia Elétrica']

In [19]:
# Acessando o índice 3 (quarta posição)
lista_misturada[3][2]

's'

In [20]:
lista_misturada

[1, 2, 3.14159, 'teste']

In [21]:
# Acessando o índice 4 nos foi retornado uma lista com 3 elementos. Agora queremos acessar o índice 1 dessa lista interna
lista_misturada2[4][1]

'A'

In [34]:
lista_misturada2

[1, 2, True, 'bláblá', [1, 'A', 1.0]]

In [23]:
# Acessando um índice inexistente
lista[20]

IndexError: ignored

### 3. Como modificar elementos de uma lista

In [27]:
# Visualizando a lista
lista

[23, 56, 39, -3, 10, 2, 18, 0, 5]

In [28]:
# Alterando o elemento do índice 1 de 56 para 18
lista[1] = 18

In [29]:
# Visualizando a alteração realizada
lista

[23, 18, 39, -3, 10, 2, 18, 0, 5]

In [30]:
# Modificando o elemento do índice 3 de -3 para 15
lista[3] = 15

In [31]:
# Visualizando a alteração realizada
lista

[23, 18, 39, 15, 10, 2, 18, 0, 5]

In [32]:
# Modificando o elemento do índice 2. Ele recebe a soma dos dois elementos anteriores
lista[2] = lista[0] + lista[1]

In [33]:
# Visualizando a alteração realizada
lista

[23, 18, 41, 15, 10, 2, 18, 0, 5]

In [35]:
lista_misturada2

[1, 2, True, 'bláblá', [1, 'A', 1.0]]

In [36]:
lista_misturada2[4][1] = 'B'

In [37]:
lista_misturada2

[1, 2, True, 'bláblá', [1, 'B', 1.0]]

In [ ]:
lista_misturada2[2] = True

In [38]:
lista_misturada2

[1, 2, True, 'bláblá', [1, 'B', 1.0]]

In [40]:
lista_misturada3 = [1,False, -2.5, (1,2,3,4)]

In [41]:
lista_misturada3

[1, False, -2.5, (1, 2, 3, 4)]

In [43]:
type(lista_misturada3)

list

In [44]:
type(lista_misturada3[3])

tuple

In [45]:
lista_misturada3[3][1] = 'a' #gera um erro pois não podemos modificar o tipo tuple

TypeError: ignored

### 4. Principais métodos de um objeto lista

Método | Descrição | Exemplo
:----- | :-------- | :------
append | Adiciona um elemento no final da lista | `lista.append(5)`
clear  | Apaga todos os elementos de uma lista | `lista.clear()`
copy | Retorna uma cópia dos elementos da lista | `copia = lista.copy()`
count | Retorna a quantidade de ocorrências de um elemento na lista | `qt = lista.count(5)`
extend | Adiciona os elementos de outra lista passada por parâmetro | `lista.extend(outra_lista)`
index | Retorna o índice do elemento passado por parâmetro (primeira posição) | `pos5 = lista.index(5)`
insert | Adiciona um elemento em uma posição passada por parâmetro (adiciona no final caso a posição não exista)| `lista.insert(3, "João")`
pop | Remove o elemento na posição passada por parâmetro (provoca um erro caso a posição não exista)| `elemento = lista.pop(3)`
remove | Remove o elemento passado por parâmetro (provoca um erro caso o elemento não exista)| `lista.remove(5)`
reverse | Inverte a ordem dos elementos de uma lista | `lista.reverse()`
sort | Ordena os objetos de uma lista | `lista.sort()`
 | | `lista.sort(reverse=True)`

#### 4.1 - append()

In [63]:
# Visualizando a lista antes da chamada ao método append()
print(lista)
print(len(lista))

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17]
10

In [64]:
# Adicionado o 17 no final da lista
lista.append(17)

In [65]:
# Visualizando a lista após chamada ao método append()
print(lista)
print(len(lista))

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]
11

#### 4.2 - clear()

In [66]:
# Visualizando lista_reais antes da chamada ao método clear()
lista_reais

[1.5, -2.13, 5.14]

In [67]:
# Removendo todos os elementos de lista_reais
lista_reais.clear()

In [68]:
# Visualizando lista_reais após chamada ao método clear()
lista_reais

[]

### 4.3 - copy()

In [69]:
# Copiando uma lista para outra?
copia = lista

In [70]:
# Visualizando o conteúdo de copia
copia

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [71]:
# Alterando o elemento do índice 0 de 23 para 5
copia[0] = 5

In [72]:
# Visualizando o conteúdo de copia
copia

[5, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [73]:
# Visualizando o conteúdo de lista (Perceba que o elemento 23 também foi alterado na lista, e não apenas em copia)
lista

[5, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [74]:
# Desfazendo a alteração no índice 0, modificando de 5 para 23
lista[0] = 23
lista

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [75]:
# A maneira correta de copiar uma lista para outra é através da chamada ao método copy()
copia = lista.copy()

In [76]:
# Visualizando o conteúdo de lista
lista

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [77]:
# Visualizando o conteúdo de copia
copia

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [78]:
# Alterando o elemento do índice 0 de 23 para 5
copia[0] = 5

In [79]:
# Visualizando o conteúdo de lista
lista

[23, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

In [80]:
# Visualizando o conteúdo de lista - Agora sim, apenas o índice 0 de copia foi alterado
copia

[5, 18, 41, 15, 10, 2, 18, 0, 5, 17, 17]

###4.4 - count()

In [82]:
# Verificando quantas vezes o número 5 aparece em copia
copia.count(5)

2

###4.5 - extend()

In [83]:
# Suponha que temos uma lista chamada numeros que contém os elementos [1, 2, 3]
numeros = [1, 2, 3]

In [84]:
# Queremos adicionar os elementos [4, 5] à lista números e usamos o método append()
numeros.append([4,5])

In [85]:
# Ao invés de adicionarmos os elementos 4 e 5, adicionar uma lista contendo os elementos [4, 5]
numeros

[1, 2, 3, [4, 5]]

In [86]:
# A maneira correta de adicionar novos elementos de uma lista, a partir de outra lista, é através do método extend()
numeros = [1, 2, 3]
numeros.extend([4,5])
numeros

[1, 2, 3, 4, 5]

###4.6 - index()

In [87]:
# Redefinindo os elementos da lista
lista = [1, 3, 7, 2, 3, 8, 4]
lista

[1, 3, 7, 2, 3, 8, 4]

In [88]:
# O método index nos permite saber em que posição determinado elemento está armazenado
lista.index(7)

2

In [89]:
# Podemos guardar esse valor em uma variável
posicao8 = lista.index(8)

In [90]:
posicao8

5

In [91]:
# O método index() retorna a posição da primeira ocorrência do elemento procurado. 
posicao3 = lista.index(3)

In [92]:
posicao3

1

In [93]:
# Caso o elemento não exista, ocorre um erro
lista.index(19)

ValueError: ignored

###4.7 - insert()

In [94]:
lista

[1, 3, 7, 2, 3, 8, 4]

In [95]:
# O método insert() permite adicionar um elemento em qualquer posição da lista. 
# Caso a posição não exista, ele insere o elemento desejado na última posição
lista.insert(2, "ABC")
lista

[1, 3, 'ABC', 7, 2, 3, 8, 4]

In [96]:
lista.insert(100, "XYZ")
lista

[1, 3, 'ABC', 7, 2, 3, 8, 4, 'XYZ']

###4.8 - pop()

In [97]:
# Utilizamos o método pop() quando desejamos apagar uma posição da lista
# Removendo o elemento no índice 2
valor = lista.pop(2)
# Visualizando o valor retornado
valor

'ABC'

In [98]:
# Visualizando a lista após a remoção 
lista

[1, 3, 7, 2, 3, 8, 4, 'XYZ']

In [99]:
# Removendo o elemento da última posição
lista.pop(-1)
# Visualizando a lista após a remoção 
lista

[1, 3, 7, 2, 3, 8, 4]

In [100]:
# O método pop() provoca um erro caso a posição não exista
lista.pop(45)

IndexError: ignored

###4.9 - remove()

In [101]:
# Utilizamos o método remove() quando desejamos apagar um elemento específico da lista
# Visualizando lista_strings antes da remoção
lista_strings

['Toni', 'Python', 'CEFET MG', 'Engenharia Elétrica']

In [102]:
# Removendo "Python"
lista_strings.remove("Python")

In [103]:
# Visualizando lista_strings após a remoção
lista_strings

['Toni', 'CEFET MG', 'Engenharia Elétrica']

In [104]:
# O método remove() provoca um erro caso o elemento não exista
lista_strings.remove("Java")

ValueError: ignored

###4.10 - reverse()

In [105]:
# Redefinindo os elementos de lista
lista = [1, 2, 3, 4, 5, 6]
# Visualizando a lista antes da chamada ao método reverse()
lista

[1, 2, 3, 4, 5, 6]

In [106]:
# Invertendo os elementos da lista
lista.reverse()

In [107]:
# Visualizando a lista após chamada ao método reverse()
lista

[6, 5, 4, 3, 2, 1]

###4.11 - sort()

In [108]:
# Redefinindo os elementos de lista
lista = [6, 3, 1, 4, 2, 5]
# Visualizando a lista antes da chamada ao método sort()
lista

[6, 3, 1, 4, 2, 5]

In [109]:
# Ordenando os elementos em ordem crescente
lista.sort()

In [110]:
# Visualizando a lista após chamada ao método sort()
lista

[1, 2, 3, 4, 5, 6]

In [111]:
# Redefinindo os elementos de lista
lista = [6, 3, 1, 4, 2, 5]
# Visualizando a lista antes da chamada ao método sort()
lista

[6, 3, 1, 4, 2, 5]

In [112]:
# Ordenando os elementos em ordem decrescente
lista.sort(reverse=True)

In [113]:
# Visualizando a lista após chamada ao método sort()
lista

[6, 5, 4, 3, 2, 1]

In [114]:
# Ordenando lista de caracteres
lista_letras = ["Q", "W", "E", "R", "T", "Y", "A", "S", "D"]
lista_letras.sort()
lista_letras

['A', 'D', 'E', 'Q', 'R', 'S', 'T', 'W', 'Y']

In [115]:
# Ordenando lista de strings
lista_strings = ["GHI", "XYZ", "DEF", "ABC", "KLM"]
lista_strings.sort()
lista_strings

['ABC', 'DEF', 'GHI', 'KLM', 'XYZ']

In [116]:
# Não é possível ordenar uma lista com elementos de diferentes tipos
lista_misturada = [2, "ABC", 3.14]
lista_misturada.sort()
lista_misturada

TypeError: ignored

### 5. Funções aplicáveis a uma lista

Função | Descrição | Exemplo
:----- | :-------- | :------
len | Retorna a quantidade de elementos de uma lista | `print(len(lista))`
max  | Retorna o maior elemento de uma lista | `maior = max(lista)`
min | Retorna o menor elemento de uma lista | `menor = min(lista)`
sum | Retorna o somatório dos elementos de uma lista | `soma = sum(lista)`

In [117]:
# Redefinindo os elementos de lista e lista_letras
lista = [8, 3, 21, 14, 2, 45]
lista_letras = ["Q", "W", "E", "R", "T", "Y", "A", "S", "D"]

In [118]:
print(lista)
print(lista_letras)

[8, 3, 21, 14, 2, 45]
['Q', 'W', 'E', 'R', 'T', 'Y', 'A', 'S', 'D']

In [119]:
# A função len() retorna a quantidade de elementos de uma lista
len(lista)

6

In [120]:
# A função max() retorna o maior elemento de uma lista
max(lista)

45

In [121]:
max(lista_letras)

'Y'

In [122]:
# A função min() retorna o menor elemento de uma lista
min(lista)

2

In [123]:
min(lista_letras)

'A'

In [124]:
# A função sum() retorna a soma dos elementos de uma lista numérica
sum(lista)

93

# Outras coleções em Python
### Tuple
* Assim com uma lista, uma tupla também é uma coleção de elementos. A diferença entre elas, é que a tupla é imutável. Ou seja, uma vez definidos os seus elementos, a tupla não pode mais ser alterada
* Cada elemento possui uma posição dentro de uma lista. Essa posição é chamada índice
* O primeiro elemento fica armazenado na posição *0*, enquanto o último elemento fica armazenado na posição *n-1* (onde *n* é a quantidade de elementos da lista)

### Set
* Conjuntos são coleções de elementos únicos
* Principais características:
   * Os elementos não são armazenados em uma ordem específica
   * Conjuntos não contém elementos repetidos
* Conjuntos não suportam indexação como as listas e tuplas

### Dict
* Um dicionário é uma coleção de elementos que possuem uma *chave* e um *valor*
* Ao invés de um índice, usamos a *chave* para recuperar um *valor*

### 1. Como criar tuplas

In [125]:
# Criando tuplas vazias
tupla_vazia = () # lista_vazia = []
tupla_vazia2 = tuple()

In [126]:
# Verificando o tipo de tupla_vazia
type(tupla_vazia)

tuple

In [127]:
# Verificando se tupla_vazia2 é uma instância de tuple
isinstance(tupla_vazia2, tuple)

True

In [128]:
len(tupla_vazia)

0

In [129]:
# Criando tuplas com elementos
tupla1 = (3, 19, 4, 21, 3, 5, 13)
tupla2 = (3, 19, 4, 21, 3, 5, 13, "tupla", (1, 2, 3))
tupla3 = (3, 19, 4, 21, 3, 5, 13, "tupla", [1, 2, 3])

### 2. Como acessar elementos de uma tupla

In [132]:
# Visualizando os elementos de tupla1
tupla1

(3, 19, 4, 21, 3, 5, 13)

In [133]:
# Visualizando os elementos de tupla2
tupla2

(3, 19, 4, 21, 3, 5, 13, 'tupla', (1, 2, 3))

In [134]:
# Visualizando os elementos de tupla3
tupla3

(3, 19, 4, 21, 3, 5, 13, 'tupla', [1, 2, 3])

In [135]:
# Acessando o índice 0 (primeira posição) de tupla1
tupla1[0]

3

In [136]:
# Visualizando os elementos de tupla1
tupla1

(3, 19, 4, 21, 3, 5, 13)

In [137]:
# Acessando o índice 5 (sexta posição) de tupla2
tupla2[5]

5

### 3. Como criar conjuntos (set)

In [139]:
# Criando conjuntos vazios
conj_vazio1 = set() # Essa é a única forma de se criar um conjunto vazio
conj_vazio2 = {} # As chaves são utilizadas para construir um dicionário vazio.

In [140]:
type(conj_vazio1)

set

In [141]:
type(conj_vazio2)

dict

In [143]:
# Criando conjuntos com elementos
conj1 = {1, 2, 3, 4, 5}
conj2 = {"A", "B", "C", "D"}
conj3 = {"ABC", 123, 3.14}

In [144]:
conj1

{1, 2, 3, 4, 5}

In [145]:
conj2

{'A', 'B', 'C', 'D'}

In [146]:
conj3

{123, 3.14, 'ABC'}

In [147]:
# Conjuntos não podem conter outras estruturas aninhadas
conj3 = {1, "ABC", [1,2,3]} # Provoca um erro por causa da lista

TypeError: ignored

### 4. Como acessar elementos de um conjunto

In [149]:
conj1

{1, 2, 3, 4, 5}

In [150]:
# Conjuntos não suportam indexação. Então vamos precisar do comando for para acessar os elementos de um conjunto
for elem in conj1:
    print(elem)

1
2
3
4
5

In [151]:
# Tentar acessar uma posição em um conjunto provoca um erro
conj1[0]

TypeError: ignored

### 5. Como modificar elementos de um conjunto

- Nâo existe uma maneira de modificar elementos em um conjunto. O que pode ser feito é a exclusão de um elemento, seguida da inserção de outro elemento

### 6. Como criar dicionários

In [152]:
# Criando dicionários vazios
dic_vazio1 = {}
dic_vazio2 = dict()

In [153]:
# Visualizando o tipo de dic_vazio1
type(dic_vazio1)

dict

In [154]:
# Verificando se dic_vazio2 é uma instância de dict
isinstance(dic_vazio2, dict)

True

In [155]:
# Criando dicionários com pares chave/valor

# Dicionário de estados: chave é a sigla do estado e valor é o nome completo
dic_estados = { "MG":"Minas Gerais", "PR": "Paraná", "BA": "Bahia", "RN": "Rio Grande do Norte", "AM": "Amzonas"}
# Obs: o nome do estado Amazonas foi digitado errado de forma intencional
dic_estados
# OBS: Perceba que as chaves são adicionadas em ordem crescente

{'AM': 'Amzonas',
 'BA': 'Bahia',
 'MG': 'Minas Gerais',
 'PR': 'Paraná',
 'RN': 'Rio Grande do Norte'}

In [156]:
# Dicionário de produtos: chave é o código e valor é a descrição do produto
dic_produtos = {1215:"Lápis", 3221:"Caneta", 2329:"Borracha", 1092:"Caderno", 7633:"Cola"}
dic_produtos

{1092: 'Caderno',
 1215: 'Lápis',
 2329: 'Borracha',
 3221: 'Caneta',
 7633: 'Cola'}

In [157]:
# Dicionário de alunos: chave é o nome e valor é uma lista com 3 notas do aluno
dic_notas_alunos = {"João":[30, 12, 21], "Maria": [20, 30, 29], "José": [20, 23, 19]}
dic_notas_alunos

{'José': [20, 23, 19], 'João': [30, 12, 21], 'Maria': [20, 30, 29]}

In [158]:
# Dicionário de alunos 2: chave é o nome e valor é um outro dicionário contendo as 3 notas do aluno
dic_notas_alunos2 = {"João": {"nota1": 30, "nota2": 12, "nota3": 21}, 
                     "Maria": {"nota1": 20, "nota2": 30, "nota3": 29}, 
                     "José": {"nota1": 20, "nota2": 23, "nota3": 19}, 
                    }
dic_notas_alunos2

{'José': {'nota1': 20, 'nota2': 23, 'nota3': 19},
 'João': {'nota1': 30, 'nota2': 12, 'nota3': 21},
 'Maria': {'nota1': 20, 'nota2': 30, 'nota3': 29}}

### 7. Acessando um valor em um dicionário através de uma chave

In [159]:
dic_estados

{'AM': 'Amzonas',
 'BA': 'Bahia',
 'MG': 'Minas Gerais',
 'PR': 'Paraná',
 'RN': 'Rio Grande do Norte'}

In [160]:
# Acessando o valor associado à chave "PR"
dic_estados["PR"]

'Paraná'

In [161]:
# Acessando o valor associado à chave "MG" dentro de um comando print
print("Eu nasci em "+ dic_estados["MG"] + ".")

Eu nasci em Minas Gerais.

In [162]:
# Se a chave não existir, é retornado um erro
dic_estados["XYZ"]

KeyError: ignored

In [163]:
# Acessando o valor associado à chave 2329
dic_produtos[2329]

'Borracha'

In [164]:
dic_notas_alunos

{'José': [20, 23, 19], 'João': [30, 12, 21], 'Maria': [20, 30, 29]}

In [165]:
# Acessando o valor associado à chave "Maria" no dicionário dic_notas_aluno
nome_aluno = "Maria"
print("As notas de "+nome_aluno+" foram: "+str(dic_notas_alunos[nome_aluno])+".")
#print("As notas de ", nome_aluno, " foram: ", dic_notas_alunos[nome_aluno])

As notas de Maria foram: [20, 30, 29].

In [166]:
print(nome_aluno+" tirou "+str(dic_notas_alunos[nome_aluno][0])+" pontos na 1a prova.")

Maria tirou 20 pontos na 1a prova.

In [167]:
dic_notas_alunos2

{'José': {'nota1': 20, 'nota2': 23, 'nota3': 19},
 'João': {'nota1': 30, 'nota2': 12, 'nota3': 21},
 'Maria': {'nota1': 20, 'nota2': 30, 'nota3': 29}}

In [168]:
# Acessando a nota da primeira prova do João no dicionário dic_notas_alunos2
dic_notas_alunos2["João"]["nota1"]

30